/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#landing img {
	max-width: 100%;
	display: block;
}
body {
	font-family: "futura-pt-condensed",sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1.6rem;
	-webkit-font-smoothing: antialiased;
}
section {
	box-sizing: border-box;
}
#landing {
	position: relative;
	overflow: hidden;
}
// #landing:before {
// 	content: '';
// 	position: fixed;
// 	top: 0;
// 	left: -120px;
// 	height: 100%;
// 	width: 20%;
// 	background: white;
// 	-webkit-transform: skew(-10deg, 0deg);
// 	-moz-transform: skew(-10deg, 0deg);
// 	-ms-transform: skew(-10deg, 0deg);
// 	-o-transform: skew(-10deg, 0deg);
// 	transform: skew(-10deg, 0deg);
// 	z-index: 11;
// 	transition: width 1s ease;
// 	box-shadow: 0px 0px 15px -5px black;
// }
#landing.loading:before {
	width: 125%;
}
#logo {
	width: 7%;
	position: fixed;
	top: 13px;
	left: 40px;
	z-index: 11;
	will-change: top, left;
	transition: top 1s ease, left 1s ease;
}

#txt-logo {
	width: 50%;
	margin: 0 auto;
	display: block;
}
#loading {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background: white;
}
.hidden {
	display: none;
}
#logo.loading {
	top: 40%;
	left: 48%;
}
#slider {
	height: 2800px;
	overflow: scroll;
}
#dunk { z-index: 5; }
#dunk2 { z-index: 3; }
#running {z-index: 2;}
.pin-img {
	position: fixed;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 0% 0%;
	/* box-shadow: 0px 0px 15px -5px #183F67; */
}
.markets-links {
	position: fixed;
	top: 0px;
	padding: 20px 0px;
	text-align: right;
	font-family: 'futura-pt';
	font-size: .7rem;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 10px;
	z-index: 10;
	width: 100%;
	background-color: #183F67;
	box-shadow: 0px 0px 5px 0px #000C34;
}
.markets-links a {
	color: white;
	text-decoration: none;
	margin-right: 15px;
}
.markets-links a.dark {
	color: #183F67;
}
.markets-links a:hover {
	color: #54A5D9;
}
.markets-links a:after {
	content: '|';
	color: #54A5D9;
	position: relative;
	right: -15px;
}
.markets-links a:last-child:after {
	display: none;
}
#twitter img, #instagram img {
	width: 1%;
	display: inline-block;
	vertical-align: middle;
	fill: #54A5D9;
}
#hiddenMsg {
	color: white;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	display: block;
	font-size: 12rem;
	line-height: 8rem;
	text-align: right;
}

.landing-txt-container {
	margin-top: 54px;
}

.landing-txt {
	color: white;
	display: block;
	position: relative;
	overflow: hidden;
	font-size: 24rem;
	line-height: 20rem;
	text-align: right;
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1000px rgba(24, 63, 103, .5),
				0px 0px 15px 0px black;
}

.landing-txt:hover {
	box-shadow: 0px 0px 15px 0px black;
}

#NEVER {
	background-image: url('../assets/dunk2.jpg');
	background-position: 100% 33%;
	z-index: 7
}

#STOP {
	background-image: url('../assets/oba2.jpg');
	z-index: 5
}

#CLIMBING {
	background-image: url('../assets/linebacker.jpg');
	z-index: 3
}

#NEVER:hover,
#STOP:hover,
#CLIMBING:hover {
	background-color: rgba(24, 63, 103, 1);
}

.blue {
	background-color: #183F67;
    position: relative;
    color: white;
    padding: 90px 0px;
    overflow: hidden;
}
.blue:before {
	content: '';
	position: absolute;
	top: 0;
	right: -120px;
	height: 100%;
	width: 22%;
	background: white;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
	display: none;
}

.blue h1 {
	font-size: 16rem;
	line-height: 11rem;
	color: white;
	text-align: right;
	padding-right: 2%;
}

.blue h2 {
	font-family: "futura-pt";
	font-weight: 300;
	font-size: 1.6rem;
	letter-spacing: 15px;
	margin-bottom: 30px;
	color: rgb(179, 179, 179);
}
.blue h2 strong {
	font-family: "futura-pt-condensed";
	margin-bottom: 30px;
	font-weight: 700;
	color: white;
}
.blue p {
	font-size: 2rem;
	line-height: 1;
}
.blue p strong {
	color: #54A5D9;
}
section .accent-up {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100%;
	max-width: 186px;
}
.flow-container {
	width: 70%;
	// float: right;
	margin: 0 auto;
}

.blue-blurb {
	// width: 75%;
	margin: 100px 0px 60px;
}
.blue-blurb p {
	margin-top: 80px;
	font-size: 2.6rem;
}
.blue-blurb li {
	margin-left: 40px;
}
#elevate-line {
	width: 97%;
	max-width: 675px;
	display: block;
	margin: 0 auto;
}
.light-blue {
	/* background-color: rgb(179, 179, 179); */
	background-color: #54A5D9;
	position: relative;
	padding: 90px 0px;
	overflow: hidden;
	/* height: 800px; */
}
.light-blue:before {
	content: '';
	position: absolute;
	top: 0;
	left: -120px;
	height: 100%;
	width: 20%;
	background: white;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}
.light-blue h1 {
	font-size: 16rem;
	line-height: 11rem;
	color: white;
	text-align: right;
}
.light-blue h3 {
	color: #183F67;
}
.light-blue p {
	color: #000C34;
}
.column-cell {
	position: relative;
	width: 70%;
}
.column-text-cell {
	width: 30%;
	margin-right: 50px;
}
.column-text-cell ul {
	list-style: disc;
	margin-left: 10px;
}
.column-text-cell li {
	font-size: 2rem;
}
.column-cell:first-child {
	margin-right: 50px;
}
.cell-img-container img {
	width: 100%;
	position: relative;
	object-fit: cover;
	object-position: 0% 0%;
	box-shadow: 0px 0px 5px 0px #000C34;
}
.column-cell h3 {
	text-align: right;
	position: relative;
	font-size: 3rem;
}
.cell-img-container {
	position: relative;
}
.cell-img-container:before {
	content: '';
	position: absolute;
	top: 47px;
	left: 0px;
	height: 80%;
	width: 100%;
	z-index: 0;
	background: white;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}
.columns-container .row:before,
.columns-container .row:after {
	content: ' ';
	display: table;
}
.columns-container .row:after {
	clear: both;
}
.columns-container .row {
	margin-bottom: 65px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.columns-container .row.reversed {
	flex-direction: row-reverse;
}

.grey {
	background-color: rgb(179, 179, 179);
	position: relative;
	padding: 90px 0px;
	overflow: hidden;
}

.grey .cell-img-container p {
	background-color: #183F67;
	position: relative;
	padding: 20px 35px;
    box-shadow: 0px 0px 15px -4px #000C34;
}

.grey .cell-img-container:before {
	content: '';
	position: absolute;
	top: 47px;
	left: 0px;
	height: 80%;
	width: 100%;
	z-index: 0;
	background: #54A5D9;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}

.grey .blue-blurb strong {
	color: #183F67;
}

#social-container {
	text-align: right;
	margin-top: 40px;
}

#social-container img {
	display: inline-block;
	width: 8%;
	margin-right: 30px;
}

.team-member-certs {
	text-align: right;
	position: relative;
	display: inherit;
	color: #183F67;
	margin: -5px 0px 5px;
	font-size: 1rem;
}

.grey h1 {
	font-size: 16rem;
	line-height: 11rem;
	color: white;
	text-align: right;
}
.grey h3 {
	color: #183F67;
}
.grey p {
	color: white;
}

#family, #splashy-intro {
	position: relative;
	padding: 0px 0px 90px;
	overflow: hidden;
}

#family h1 {
	font-size: 16rem;
	line-height: 11rem;
	color: #183F67;
	text-align: right;
	background-color: rgba(255, 255, 255, 0.5);
}

#family h1:first-child,
#splashy-intro h1:first-child {
	padding-top: 50px;
}

#family h1:last-child,
#splashy-intro h1:last-child {
	padding-bottom: 50px;
}

.white p {
	color: #000C34;
}

.white {
	position: relative;
	padding: 90px 0px;
	overflow: hidden;
}

.white h1 {
	font-size: 16rem;
	line-height: 11rem;
	color: #183F67;
	text-align: right;
	padding-right: 2%;
}

.white p {
	color: #000C34;
}

#family .section-title-container {
	background-image: url('../assets/predraft.jpg');
	background-size: 100%;
}

#follow {
	margin-bottom: 80px;
}

.instapic {
	width: 33.33%;
	display: inline-block;
	margin-bottom: -10px;
	box-shadow: 0px 0px 30px #000C34;
}

.instapic img {
	max-width: 100%;
	display: block;
}

#contact-form {
	margin-top: 80px;
	position: relative;
	background-color: #183F67;
	
}

#contact form {
	padding: 80px;
	display: block;
}

#contact-form:before {
	content: '';
	position: absolute;
	top: -20px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: #54A5D9;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}

#contact-form h2 {
	position: relative;
	text-align: right;
	top: -65px;
	margin-bottom: -65px;
	color: #54A5D9;
	font-size: 3rem;
}

#contact form label {
	color: #54A5D9;
}

#contact input[type='text'],
#contact input[type='email'],
#contact input[type='tel'] {
	display: block;
	width: 100%;
	margin-bottom: 25px;
	border: none;
	border-bottom: 2px solid #000C34;
	font-family: 'futura-pt-condensed';
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	background-color: #183F67;
}

#contact input[type='text']:focus,
#contact input[type='email']:focus,
#contact input[type='tel']:focus {
	outline: none;
}

#contact input[type='submit'] {
	font-family: 'futura-pt-condensed';
	border: none;
	border-radius: 0px;
	font-size: 1.4rem;
	padding: 15px;
	display: block;
	margin: 60px auto 0px;
	background-color: #54A5D9;
	color: white;
	box-shadow: 0px 0px 10px 0px black;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
}

#contact input[type='submit']:hover {
	cursor: pointer;
	color: #183F67;
}

#contact textarea {
	display: block;
	width: 100%;
	height: 250px;
	font-family: 'futura-pt-condensed';
	font-size: 1.4rem;
	max-width: 100%;
}

.service-detail {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}

.service-detail strong {
	color: #54A5D9;
	font-size: 2rem;
}

#early-call-to-action {
	margin: 130px auto 60px;
	display: block;
	width: 30%;
	font-size: 4rem;
	text-decoration: none;
	border: 1px solid #183F67;
	color: #183F67;
	background-color: white;
	text-align: center;
	-webkit-transform: skew(-10deg, 0deg);
	-moz-transform: skew(-10deg, 0deg);
	-ms-transform: skew(-10deg, 0deg);
	-o-transform: skew(-10deg, 0deg);
	transform: skew(-10deg, 0deg);
	transition: background-color .3s ease;
}

#early-call-to-action:hover {
	background-color: #183F67;
	color: white;
}

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}
.cf:after {
	clear: both;
}

#splashy-intro .section-title-container {
	background-image: url('../assets/dunk1.jpg');
	background-size: 105%;
}

#splashy-intro h1 {
	background-color: rgba(255, 255, 255, 0.7);
}

@media all
	and (max-device-width: 800px) {
		#logo {
			width: 10%;
		}
		.landing-txt {
			font-size: 20rem;
		}
		.columns-container {
			margin-top: 100px;
		}
		.column-cell {
			width: auto;
		}
		.columns-container .row {
			display: block;
		}
		.column-text-cell,
		.row.reversed .column-text-cell {
			width: 100%;
			margin-top: 25px;
		}
		.column-text-cell ul {
		    list-style: disc;
		    margin: 0 auto;
		    width: 80%;
		}
		.column-text-cell li {
		    font-size: 4rem;
		}
		.blue-blurb {
			width: auto;
		}
}


@media all and (max-device-width: 670px) {
	.landing-txt-container {
		margin-top: 40px;
	}
	.landing-txt {
		font-size: 20rem;
		line-height: 24rem;

	}
	.markets-links a {
		display: none;
	}
	.pin-img {
		object-position: 50% 0%
	}
	#landing:before {
		width: 40%;
		left: -250px;
	}
	#logo {
		width: 15%;
		position: fixed;
		top: 10px;
		left: 28px;
		z-index: 11;
	}
	#hiddenMsg {
		font-size: 8rem;
		line-height: 5rem;
	}
	.blue-blurb {
		width: auto;
	}
	.blue-blurb p {
		font-size: 3.6rem;
	}
	.columns-container .row {
		display: block;
	}
	.cell-img-container:before {
		top: 70px;
	}
	.column-cell {
		width: auto;
		margin-bottom: 20px;
	}
	.column-cell h3 {
		font-size: 4.3rem;
	}
	.column-cell:first-child {
		margin-right: 25px;
		margin-top: 80px;
	}
	.column-text-cell {
		width: auto;
	}
	// .column-text-cell ul {
	// 	list-style-position: inside;
	// }
	.column-text-cell li {
		font-size: 4rem;
	}

	#contact label {
		font-size: 3rem;
	}

	#contact input[type='text'], #contact input[type='email'], #contact input[type='tel'] {
	    font-size: 3rem;
	    line-height: 5rem;
	}

	.blue,
	.light-blue h1,
	.grey h1,
	.white h1 {
		font-size: 9rem;
		line-height: 6rem;
	}
}

@media all
	and (max-device-width: 670px)
	and (-webkit-min-device-pixel-ratio: 2.6) {
	.landing-txt-container {
		margin-top: 40px;
	}
	.landing-txt {
		font-size: 20rem;
		line-height: 24rem;

	}
	.markets-links {
		padding: 40px;
	}
	.markets-links a {
		display: none;
	}
	.pin-img {
		object-position: 50% 0%
	}
	#landing:before {
		width: 40%;
		left: -300px;
	}
	#logo {
		width: 13%;
		position: fixed;
		top: 20px;
		left: 28px;
		z-index: 11;
	}
	#hiddenMsg {
		font-size: 8rem;
		line-height: 5rem;
	}
	.blue-blurb {
		width: auto;
	}
	.columns-container .row {
		display: block;
	}
	.cell-img-container:before {
		top: 76px;
	}
	.column-cell {
		width: auto;
		margin-bottom: 20px;
	}
	.column-cell h3 {
		font-size: 5rem;
	}
	.column-cell:first-child {
		margin-right: 25px;
	}
	.column-text-cell {
		width: auto;
	}

	#mktg-mgmt {
		font-size: 4.1rem;
	}

	.light-blue h1,
	.grey h1,
	.white h1 {
		font-size: 9rem;
		line-height: 6rem;
	}
}
// grey: rgb(179, 179, 179)
// light blue: #54A5D9
// dark blue: #183F67
// shadow blue: #000C34
